{% extends 'base.html' %}

{% block content %}
<table class="form-table">
<form action="/tags/{{tag.id}}" method="post">
    <tr>
        <td>
            <label for="name">Name:</label>
        </td>
        <td>
            <input type="text" name="name" id="name" placeholder="e.g. Groceries" value="{{tag.name}}">
        </td>
    </tr>
    <tr>
        <td>
            <button type="submit">Save Changes</button>
        </td>
    </tr>
    <tr>
        <td>
            <form action="/tags/{{tag.id}}/deactivate" class="deactivate" method="POST">
                <button class="deactivate-button">Deactivate</button>
            </form>
        </td>
    </tr>
</form>
</table>  

{% endblock content %}