{% extends 'base.html' %}

{% block content %}
<table class="form-table">
    <form action="/tags" method="post">
        <tr>
            <td>
                <label for="name">Name:</label>
            </td>
            <td>
                <input type="text" name="name" id="name" placeholder="e.g. Groceries">
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit">Add Tag</button>
            </td>
        </tr>
    </form>
</table>
{% endblock content %}