<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>{{ title }}</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/transactions">Transactions</a></li>
                <li><a href="/merchants">Merchants</a></li>
                <li><a href="/tags">Tags</a></li>
            </ul>
        </nav>
        {% block content %}
            
        {% endblock content %}
    </body>
</html>