{% extends 'base.html' %}

{% block content %}

<table class="form-table">
    <form action="/merchants/{{merchant.id}}" method="post">
        <tr>
            <td>
                <label for="name">Name:</label>
            </td>
            <td>
                <input type="text" name="name" id="name" placeholder="e.g. Tesco" value="{{merchant.name}}">
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit">Save Changes</button>
            </td>
        </tr>
    </form>
    <tr>
        <form class="delete" action="/merchants/{{merchant.id}}/delete" method="POST">
            <td>
                <button class="trash-button">Delete</button>
            </td>
        </form>
    </tr>
    <tr>
        <form action="/merchants/{{merchant.id}}/deactivate" class="deactivate" method="POST">
            <td>
                <button class="deactivate-button">Deactivate</button>
            </td>
        </form>
    </tr>
</table>

{% endblock content %}