{% extends 'base.html' %}

{% block content %}
    
<form action="/merchants/{{merchant.id}}" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" placeholder="e.g. Tesco" value="{{merchant.name}}">
    </div>
    <button type="submit">Save Changes</button>
</form>
<li>
    <form class="delete" action="/merchants/{{merchant.id}}/delete" method="POST">
        <button class="trash-button">Delete</button>
    </form>
</li>
<li>
    <form action="/merchants/{{merchant.id}}/deactivate" class="deactivate" method="POST">
        <button class="deactivate-button">Deactivate</button>
    </form>
</li>

{% endblock content %}