{% extends 'base.html' %}

{% block content %}
<table class="filter">
    <th>Edit</th>
    <form action="/transactions/{{ transaction.id }}/edit" method="post">
        <tr>
            <td>
                <label for="merchant_id">Merchant:</label>
            </td>
            <td>
                <select id="merchant_id" name="merchant_id">
            
                {% for merchant in merchants %}
                    <option value="{{ merchant.id }}"{% if transaction.merchant.id == merchant.id %}
                        selected
                    {% endif %}>{{ merchant.name }}</option>
                {% endfor %}
                </select>
            </td>   
        </tr>
        <tr>
            <td>
                <label for="tag_id">Tag:</label>
            </td>
            <td>
                <select id="tag_id" name="tag_id">
                {% for tag in tags %}
                    <option value="{{ tag.id }}"{% if transaction.tag.id == tag.id %}
                        selected
                {% endif %}>{{ tag.name }}</option>
                {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="amount">Amount (£):</label>
            </td>
            <td>
                <input type="number" step="0.01" id="amount" name="amount" placeholder="{{ '£{:,.2f}'.format(transaction.amount) }}" value="{{ transaction.amount }}" required>
            </td>
        </tr>
        <tr>
            <td>
                <label for="date">Date:</label>
            </td>
            <td>
                <input type="date" id="date" name="date" value="{{ transaction.date }}" min="1000-01-01" max="9999-01-01" required>
            </td>
        </tr>
        <tr>
            <td>
                <label for="time">Time</label>
            </td>
            <td>
                <input type="time" id="time" name="time" value="{{ transaction.time }}" required>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit">Save Changes</button>
            </td>
        </tr>
    </form>
    <tr>
        <form class="delete" action="/transactions/{{transaction.id}}/delete" method="POST">
            <td>
                <button class="trash-button">Delete</button>
            </td>
        </form>
    </tr>
</table>
{% endblock content %}