{% extends 'base.html' %}

{% block content %}
    <ul>
        <li><a href="/transactions/new">Add New Transaction</a></li>
        <li><a href="/transactions/filter">Filter Transactions</a></li>
    </ul>
    <table class="transaction-table">
        <tr>
            <th>Transactions - Total: {{ '£{:,.2f}'.format(transactions_total) }}</th>
        </tr>
        <tr>
            Sort by:<br>
            <form action="/transactions/sort" method="post">
                <label for="date_sort_newest_first">Date</label>
                <select name="date_sort_newest_first" id="date_sort_newest_first">
                    <option value=1 {% if date_sort_newest_first %}
                        selected
                    {% endif %}>Newest First</option>
                    <option value=0 {% if not date_sort_newest_first %}
                    selected
                    {% endif %}>Oldest First</option>
                </select>
                <button name="sort_by" type="submit" value="date">Sort</button>
            </form>
            <form action="/transactions/sort" method="post">
                <label for="amount_sort_highest_first">Amount</label>
                <select name="amount_sort_highest_first" id="amount_sort_highest_first">
                    <option value=1 {% if value_sort_highest_first %}
                    selected
                    {% endif %}>High to Low</option>
                    <option value=0 {% if not amount_sort_highest_first %}
                    selected
                {% endif %}>Low to High</option>
                </select>
                <button name="sort_by" type="submit" value="amount">Sort</button>
            </form> 
        </tr>
        <tr>
            Filter by:<br>
            
        </tr>
        {% for transaction in transactions_sorted %}
            <tr>
                    <td>{{ transaction.merchant.name }}</td>
                    <td>{{ transaction.tag.name }}</td>
                    <td>{{ '£{:,.2f}'.format(transaction.amount) }}</td>
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.time }}</td>
                    <td><a href="/transactions/{{transaction.id}}">Edit</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}